<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.juju.controller.member.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <display-name>recrute</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.juju.controller.member.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpProcess</display-name>
    <servlet-name>SignUpProcess</servlet-name>
    <servlet-class>com.juju.controller.member.SignUpProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpProcess</servlet-name>
    <url-pattern>/signup-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInProcess</display-name>
    <servlet-name>SignInProcess</servlet-name>
    <servlet-class>com.juju.controller.member.SignInProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInProcess</servlet-name>
    <url-pattern>/signin-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.juju.controller.index.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.juju.controller.member.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheck</display-name>
    <servlet-name>IdCheck</servlet-name>
    <servlet-class>com.juju.controller.member.IdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheck</servlet-name>
    <url-pattern>/id-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HireView</display-name>
    <servlet-name>HireView</servlet-name>
    <servlet-class>com.juju.controller.hire.HireView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HireView</servlet-name>
    <url-pattern>/recruit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyProcess</display-name>
    <servlet-name>ApplyProcess</servlet-name>
    <servlet-class>com.juju.controller.hire.ApplyProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyProcess</servlet-name>
    <url-pattern>/apply-process</url-pattern>
  </servlet-mapping>
</web-app>