<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="MemberDto" type="com.juju.dto.MemberDto"/>
        <typeAlias alias="HireDto" type="com.juju.dto.HireDto"/>
        <typeAlias alias="ApplicantDto" type="com.juju.dto.ApplicantDto"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/recrute"/>
                <property name="username" value="root"/>
                <property name="password" value="0612"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/juju/mybatis/member.xml"/>
        <mapper resource="com/juju/mybatis/hire.xml"/>
        <mapper resource="com/juju/mybatis/applicant.xml"/>
    </mappers>
</configuration>