<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>recrute02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberSignin</display-name>
    <servlet-name>MemberSignin</servlet-name>
    <servlet-class>com.jisun.controller.member.MemberSignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSignin</servlet-name>
    <url-pattern>/member/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberSignup</display-name>
    <servlet-name>MemberSignup</servlet-name>
    <servlet-class>com.jisun.controller.member.MemberSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSignup</servlet-name>
    <url-pattern>/member/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberSigninProcess</display-name>
    <servlet-name>MemberSigninProcess</servlet-name>
    <servlet-class>com.jisun.controller.member.MemberSigninProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSigninProcess</servlet-name>
    <url-pattern>/member/signin-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberSignupProcess</display-name>
    <servlet-name>MemberSignupProcess</servlet-name>
    <servlet-class>com.jisun.controller.member.MemberSignupProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSignupProcess</servlet-name>
    <url-pattern>/member/signup-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberSigninJsonProcess</display-name>
    <servlet-name>MemberSigninJsonProcess</servlet-name>
    <servlet-class>com.jisun.controller.member.MemberSigninJsonProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberSigninJsonProcess</servlet-name>
    <url-pattern>/member/signinJson-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.jisun.controller.index.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogoutProcess</display-name>
    <servlet-name>MemberLogoutProcess</servlet-name>
    <servlet-class>com.jisun.controller.member.MemberLogoutProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogoutProcess</servlet-name>
    <url-pattern>/member/logout-process</url-pattern>
  </servlet-mapping>
</web-app>