<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="MemberDTO" type="com.blanc.recrute.member.dto.MemberDTO"/>
        <typeAlias alias="RecruitDTO" type="com.blanc.recrute.recruitment.dto.RecruitDTO"/>
        <typeAlias alias="RctDetDTO" type="com.blanc.recrute.recruitment.dto.RctDetDTO"/>
        <typeAlias alias="ApplyDTO" type="com.blanc.recrute.recruitment.dto.ApplyDTO"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/recrute"/>
                <property name="username" value="blanc"/>
                <property name="password" value="blanc1234"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/member.xml"/>
        <mapper resource="mapper/applicant.xml"/>
        <mapper resource="mapper/recruitment.xml"/>
    </mappers>
</configuration>